spring:
  application:
    name: msbookstore
  jpa:
    show-sql: true

server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://eureka-user:user-wkxwkxt9@${EUREKA_SERVER}:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}